.object {
  // .object__item

  &__item {
    display: flex;
    margin-top: 40px;
    border: 1px solid #47be68;
    box-sizing: border-box;
    min-height: 86px;
    &__number {
      display: flex;
      justify-content: center;
      align-items: center;
      font-style: normal;
      font-weight: 300;
      font-size: 32px;
      line-height: 24px;
      color: #ffffff;
      border-right: 1px solid #47be68;
      max-width: 86px;
      width: 100%;
      flex-shrink: 0;
    }
    &__text {
      padding: 19px 24px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
